<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Product searcher</title>
    <link rel="stylesheet" type="text/css" href="./src/style/css/style.css" />
</head>

<body>
    <div id="header">
        <div class="header-wrapper center">
            <h1>Product searcher</h1>
            {{> searchPartial}}
        </div>
    </div>
    <div class="header-spacer"></div>
    <div id="main" class="center">
        {{> resultsPartial}}
    </div>
    <script type="application/javascript" src="./node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script type="application/javascript" src="./src/style/js/main.js"></script>
</body>

</html>
