<div id="resultsContainer">
    {{#products}}
        <div>
            <p>Id: {{id}}</p>
            <p>Name: {{name}}</p>
            <p>Category: {{category}}</p>
        </div>
    {{/products}}
</div>