<div class="results-container">
    {{#products}}
        <div class="result-item">
            <span class="item-title">{{name}}</span>
            <span class="item-meta">{{id}} - {{category}}</span>
        </div>
    {{/products}}
</div>
